{% extends 'html/base.html' %}

{% block title %}<title>Sign In</title>{% endblock %}

{% block content %}

<div class="center">
    <div class=" divsignup border_r">
        <h2 style="text-align: center;">Sign In</h2>
        <h3>{{error}}</h3>
        <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
            {{user.as_p}}
            <div class="center">
                <button type="submit" class="border_r btn-primary" class="sign-btn">Sign In</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}